.app-root-wrapper { height: 100vh; min-height: fit-content; background: #f5f6fa; }

@media (max-width: 600px) {
	.app-root-wrapper { height: auto; min-height: 100vh; }
	router-outlet + * { padding: 12px; }
}

