<div class="container py-5 d-flex align-items-center justify-content-center" style="min-height: 100vh;">
  <div class="row justify-content-center w-100">
    <div [ngClass]="registerForm.get('role')?.value === 'HR' ? 'col-md-10 col-lg-9' : 'col-md-6 col-lg-5'">
      <div class="card shadow">
        <div class="card-body">
          <div *ngIf="step === 'REGISTER'">
            <h3 class="mb-4 text-center">Đăng ký tài khoản</h3>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <!-- Loại tài khoản -->
              <div class="mb-4">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link cursor-pointer" [class.active]="registerForm.get('role')?.value === 'CANDIDATE'"
                      [ngClass]="registerForm.get('role')?.value === 'CANDIDATE' ? 'text-primary' : 'text-dark'"
                      (click)="registerForm.get('role')?.setValue('CANDIDATE')">
                      Ứng viên
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link cursor-pointer" [class.active]="registerForm.get('role')?.value === 'HR'"
                      [ngClass]="registerForm.get('role')?.value === 'HR' ? 'text-primary' : 'text-dark'"
                      (click)="registerForm.get('role')?.setValue('HR')">
                      Nhà tuyển dụng
                    </a>
                  </li>
                </ul>
              </div>

              <ng-container *ngIf="registerForm.get('role')?.value === 'HR'; else candidateForm">
                <div class="row">
                  <div class="col-md-6">
                    <!-- Thông tin cá nhân -->
                    <div class="mb-3">
                      <label for="fullName" class="form-label">Họ và tên</label>
                      <input type="text" id="fullName" class="form-control" formControlName="fullName" required>
                      <div *ngIf="registerForm.get('fullName')?.invalid && registerForm.get('fullName')?.touched"
                        class="text-danger">
                        Họ và tên không được để trống
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" id="email" class="form-control" formControlName="email" required>
                      <div *ngIf="registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.touched"
                        class="text-danger">
                        Email không được để trống
                      </div>
                      <div *ngIf="registerForm.get('email')?.errors?.['email'] && registerForm.get('email')?.touched"
                        class="text-danger">
                        Email không hợp lệ
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="phone" class="form-label">Số điện thoại</label>
                      <input type="text" id="phone" class="form-control" formControlName="phone">
                    </div>
                    <div class="mb-3">
                      <label for="dob" class="form-label">Ngày sinh</label>
                      <input type="date" id="dob" class="form-control" formControlName="dob">
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Mật khẩu</label>
                      <input type="password" id="password" class="form-control" formControlName="password" required>
                      <div
                        *ngIf="registerForm.get('password')?.errors?.['pattern'] && registerForm.get('password')?.touched"
                        class="text-danger">
                        Mật khẩu phải có ít nhất 1 chữ hoa, 1 chữ thường và 1 ký tự đặc biệt
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="confirmPassword" class="form-label">Xác nhận mật khẩu</label>
                      <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword"
                        required>
                      <div
                        *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched"
                        class="text-danger">
                        Xác nhận mật khẩu không được để trống
                      </div>
                      <div
                        *ngIf="registerForm.get('confirmPassword')?.value !== registerForm.get('password')?.value && registerForm.get('confirmPassword')?.touched"
                        class="text-danger">
                        Mật khẩu xác nhận không khớp
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <!-- Thông tin công ty -->
                    <h5 class="mb-3">Thông tin công ty</h5>
                    <div class="mb-3">
                      <label for="companyCode" class="form-label">Mã công ty (do HRAdmin cung cấp)</label>
                      <div class="input-group">
                        <input type="text" id="companyCode" class="form-control" formControlName="companyCode">
                        <button type="button" class="btn btn-outline-primary" (click)="checkCompanyCode()">Kiểm tra mã
                        </button>
                      </div>
                      <div *ngIf="companyExists === true" class="text-success mt-2">
                        Công ty đã tồn tại. Bạn chỉ cần nhập thông tin cá nhân và chờ phê duyệt.
                      </div>
                      <div *ngIf="companyExists === false" class="text-danger mt-2">
                        Mã công ty không hợp lệ hoặc chưa tồn tại. Vui lòng nhập thông tin công ty để tạo mới.
                      </div>
                    </div>
                    <ng-container *ngIf="!companyExists">
                      <!-- Các trường nhập thông tin công ty như trước -->
                      <div class="mb-3">
                        <label for="companyName" class="form-label">Tên công ty</label>
                        <input type="text" id="companyName" class="form-control" formControlName="companyName" required>
                      </div>
                      <div class="mb-3">
                        <label for="companyAddress" class="form-label">Địa chỉ công ty</label>
                        <input type="text" id="companyAddress" class="form-control" formControlName="companyAddress">
                      </div>
                      <div class="mb-3">
                        <label for="companyWebsite" class="form-label">Website công ty</label>
                        <input type="text" id="companyWebsite" class="form-control" formControlName="companyWebsite">
                      </div>
                      <div class="mb-3">
                        <label for="companyTaxCode" class="form-label">Mã số thuế</label>
                        <input type="text" id="companyTaxCode" class="form-control" formControlName="companyTaxCode">
                      </div>
                      <div class="mb-3">
                        <label for="companyDetail" class="form-label">Mô tả công ty</label>
                        <textarea id="companyDetail" class="form-control" formControlName="companyDetail"
                          rows="4"></textarea>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ng-container>

              <ng-template #candidateForm>
                <!-- Form ứng viên -->
                <div class="mb-3">
                  <label for="fullName" class="form-label">Họ và tên</label>
                  <input type="text" id="fullName" class="form-control" formControlName="fullName" required>
                  <div *ngIf="registerForm.get('fullName')?.invalid && registerForm.get('fullName')?.touched"
                    class="text-danger">
                    Họ và tên không được để trống
                  </div>
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" id="email" class="form-control" formControlName="email" required>
                  <div *ngIf="registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.touched"
                    class="text-danger">
                    Email không được để trống
                  </div>
                  <div *ngIf="registerForm.get('email')?.errors?.['email'] && registerForm.get('email')?.touched"
                    class="text-danger">
                    Email không hợp lệ
                  </div>
                </div>
                <div class="mb-3">
                  <label for="phone" class="form-label">Số điện thoại</label>
                  <input type="text" id="phone" class="form-control" formControlName="phone">
                </div>
                <div class="mb-3">
                  <label for="dob" class="form-label">Ngày sinh</label>
                  <input type="date" max="{{ today | date: 'yyyy-MM-dd' }}" min="1900-01-01" id="dob"
                    class="form-control" formControlName="dob">
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Mật khẩu</label>
                  <input type="password" id="password" class="form-control" formControlName="password" required>
                  <div *ngIf="registerForm.get('password')?.errors?.['required'] && registerForm.get('password')?.touched"
                    class="text-danger">
                    Mật khẩu không được để trống
                  </div>
                  <div *ngIf="registerForm.get('password')?.errors?.['pattern'] && registerForm.get('password')?.touched"
                    class="text-danger">
                    Mật khẩu phải có 6 ký tự, ít nhất 1 chữ hoa, 1 chữ thường và 1 ký tự đặc biệt
                  </div>
                </div>
                <div class="mb-3">
                  <label for="confirmPassword" class="form-label">Xác nhận mật khẩu</label>
                  <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword"
                    required>
                  <div
                    *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched"
                    class="text-danger">
                    Xác nhận mật khẩu không được để trống
                  </div>
                  <div
                    *ngIf="registerForm.get('confirmPassword')?.value !== registerForm.get('password')?.value && registerForm.get('confirmPassword')?.touched"
                    class="text-danger">
                    Mật khẩu xác nhận không khớp
                  </div>
                </div>
              </ng-template>

              <button type="submit" class="btn btn-primary w-100" [disabled]="registerForm.invalid">Đăng ký</button>
            </form>
            <div class="mt-3 text-center">
              Đã có tài khoản? <a routerLink="/login">Đăng nhập</a>
            </div>
          </div>

          <div *ngIf="step === 'VERIFY'" class="text-center">
            <h5 class="fw-bold text-success mb-3">Vui lòng kiểm tra email để xác thực tài khoản!</h5>
            <div class="mb-2">Chúng tôi đã gửi một email xác thực tới <b>{{ emailToVerify }}</b>.</div>
            <div class="mb-3">Hãy nhập mã xác thực để hoàn tất đăng ký.</div>
            <form [formGroup]="otpForm" (ngSubmit)="onVerifyOtp()">
              <div class="row justify-content-center align-items-center mb-3">
                <div class="col-7">
                  <input type="text" id="otp" class="form-control" placeholder="Nhập mã OTP" formControlName="otp"
                    required>
                </div>
                <div class="col-5">
                  <button type="button" class="btn btn-outline-primary w-100" [disabled]="otpCountdown > 0"
                    (click)="resendOtp()">
                    Gửi lại mã OTP
                    <span *ngIf="otpCountdown > 0">({{ otpCountdown }}s)</span>
                  </button>
                </div>
              </div>
              <button type="submit" class="btn btn-success w-100" [disabled]="otpForm.invalid">Xác minh</button>
            </form>
          </div>
          <div *ngIf="message" class="alert alert-info mt-3">{{ message }}</div>

        </div>
      </div>
    </div>
  </div>
</div>
