.form-bg-wrapper {
  height: 250px;
  background: url('/assets/baner4.jpg') center/cover no-repeat;
}

input.form-control:focus {
  border: none !important;
  box-shadow: none !important;
}

.dropdown-menu, .dropdown-toggle {
  background-color: #fff !important;
  color: #333 !important;
}

.dropdown-toggle.active {
  background-color: #212529 !important;
  color: #fff !important;
}

.form-check{
  padding-left: 2rem;
}
