.job-search-container {
  background: #08007c;
  color: #fff;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.search-bar {
  display: flex;
  gap: 10px;
  margin: 10px auto;
  width: 60%;

}

.search-input {
  flex: 1;
  padding: 5px 10px;
  width: 50px;
}

.search-btn, .category-btn {
  background: #2a6dff;
  color: #fff;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
}

.job-list ul {
  list-style: none;
  padding: 0;
}

.job-list li {
  display: flex;
  gap: 10px;
  background: #fff;
  color: #000;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.job-logo {
  width: 60px;
  height: 60px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.job-info strong {
  display: block;
}
.salary {
  color: green;
}
